/* 
Font Families
font-family: 'Eczar', serif
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: firebrick;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.easternText {
    font-family: 'Eczar', serif;
    letter-spacing: 1px;
}

.weight700 {
    font-weight: 700;
}

.fontBase {
    font-family: serif;
}

main h1,
main h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    font-size: 24px;
    color: white;

    position: relative;
    z-index: 1;
}

nav a img {
    height: 100px;
    width: auto;
}

#navBGColor {
    background-color: darkred;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 70px;
    z-index: -1;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20.5px 5px;
    display: inline-block;

    /* Animation on hover */
    transition: background-color 200ms ease-out 100ms;
}

nav a:hover {
    background-color: firebrick;
    color: whitesmoke;
}

#centerHome p {
    margin: 0px;
}

#centerHome {
    background-color: beige;
    color: firebrick;
    border-radius: 5%;
    padding: 20px;

    transition: transform 500ms;
}

#centerHome:hover {
    transform: scale(1.2);
}

.topHalf {
    position: relative;

    height: calc(100vh - 198px);
    margin: 10px 0 0 0;
    overflow: hidden;

    border-bottom: white solid 2px;

    opacity: 0;
}

.topHalf img {
    transition: transform 500ms;
}

.topHalf img:hover {
    transform: scale(1.2);
}

#botImgContainer {
    display: flex;
    justify-content: center;
}

#bottomImg {
    width: 100%;
    max-width: 1000px;
    height: auto;
    overflow: hidden;
    display: block;

    margin: calc(40vh - 260px) 0;
}

#leftImg {
    display: none;
}

#rightImg {
    display: none;
}

footer {
    max-width: 1000px;
    margin: auto;

}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.flexContainer h3 {
    margin-bottom: 2px;
}

.removePMargin {
    margin-top: 0px;
}

.footerSection {
    width: 250px
}

.footerSection h3,
.footerSection p,
.footerSection a,
footer h4 a {
    text-align: center;
    color: white;
}

.hoursSplit {
    width: 49%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

footer h4 {
    text-align: center;
    margin: 0px;
}

iframe {
    border: 4px solid darkred;
}

/* Tablet */
@media screen and (min-width: 600px) {
    #leftImg {
        display: block;
        position: absolute;
        left: -250px;

        max-height: 60vh;
        max-width: auto;
        overflow: hidden;
    }

    #rightImg {
        display: block;
        position: absolute;
        right: -250px;
        top: -50px;

        max-height: 60vh;
        max-width: auto;
        overflow-x: hidden;

        transition: transform 500ms;
    }

    #bottomImg {
        display: block;
        margin: calc(50vh - 260px) auto;

        max-height: 60vh;
        width: auto;
        overflow: hidden;
    }

    nav a img {
        height: 200px;
        width: auto;
    }

    nav a {
        margin: 0 40px;
    }

    nav {
        justify-content: center;
    }
}

/* Footer Spacing */
@media screen and (min-width: 800px) {
    .flexContainer {
        flex-direction: row;
        align-items: flex-start;
    }
}


/* Desktop */
@media screen and (min-width: 1400px) {
    #leftImg {
        display: block;
        position: absolute;
        left: -30px;

        max-height: 60vh;
        max-width: auto;
        overflow: hidden;
    }

    #rightImg {
        display: block;
        position: absolute;
        right: -110px;
        top: -20px;

        max-height: 60vh;
        max-width: auto;
        overflow-x: hidden;

        transition: transform 500ms;
    }

    #rightImg:hover {
        transform: translate(-100px, 100px) scale(1.1);
    }

}